<div class="container">
  <div class="row">
    <div class="col-md-8">
      <!-- Checkout Wizard -->
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a (click)="setCurrentStep('address')" [class.active]="currentStep === 'address'" class="nav-link">Address</a>
        </li>
        <li class="nav-item">
          <a (click)="setCurrentStep('shipment')" [class.active]="currentStep === 'shipment'"
             class="nav-link">Shipment</a>
        </li>
        <li class="nav-item">
          <a (click)="setCurrentStep('review')" [class.active]="currentStep === 'review'" class="nav-link">Review</a>
        </li>
      </ul>

      <!-- Address Section -->
      <div *ngIf="currentStep === 'address'">
        <app-address></app-address>
      </div>

      <!-- Shipment Section -->
      <div *ngIf="currentStep === 'shipment'">
        <app-shipment></app-shipment>
      </div>

      <!-- Review Section -->
      <div *ngIf="currentStep === 'review'">
        <app-review></app-review>
      </div>
    </div>
    <div class="col-md-4">
      <!-- Order Summary -->
      <app-order-summary></app-order-summary>
    </div>
  </div>
</div>

