<div>
  <h3>Select Delivery Method</h3>
  <div class="row">
    <div *ngFor="let option of deliveryOptions" class="col-md-6">
      <div class="card mb-4" style="background-color: #f8f9fa;">
        <div class="card-body">
          <h5 class="card-title">{{ option.name }} <i class="fas fa-shipping-fast"></i></h5>
          <p class="card-text">{{ option.description }}</p>
          <p class="card-text">
            <strong>Delivery Time:</strong> {{ option.deliveryTime }}
          </p>
          <p class="card-text">
            <strong>Price:</strong> {{ option.price | currency: 'INR' }}
          </p>
          <div class="form-check">
            <input
              (change)="updateShipmentPrice()"
              [(ngModel)]="selectedOption"
              [value]="option.id"
              class="form-check-input"
              id="deliveryOption{{ option.id }}"
              name="deliveryOption"
              type="radio"
            >
            <label class="form-check-label" for="deliveryOption{{ option.id }}">Select</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button (click)="goToNextStep()" class="btn btn-primary mt-3" type="button">
    <i class="fa fa-arrow-right"></i> Next
  </button>
</div>
